In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt
xl = pd.ExcelFile("../Data Science/User.xlsx")
df = xl.parse("Sheet1")
df.head()

    Name   Age    Country
0    Ajay   15      India
1  Tanaka   37      Japan
2   Messi   34  Argentina
3   Shawn   22    America